<form   class="formstyle" (ngSubmit)="add()">
  <p
    *ngIf="showIdentite == false"
    style="font-size: 18px; font-weight: 400; margin-left: 50px; color: #034ea2"
    (click)="toggle('identite')"
  >
    + Identité
  </p>
  <p
    *ngIf="showIdentite == true"
    style="font-size: 18px; font-weight: 400; margin-left: 50px; color: #034ea2"
    (click)="toggle('identite')"
  >
    - Identité
  </p>

  <div *ngIf="showIdentite" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="20" class="form-control" fxLayout="column">
        <mat-form-field>
          <mat-label>Civilité</mat-label>
          <mat-select [formControl]="civilitectrl"  [(ngModel)]="civilite" name="civilite">
            <mat-option value="M">M.</mat-option>
            <mat-option value="Mme">Mme.</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="35" class="form-control" fxLayout="column">
        <mat-form-field appearance="legacy">
          <mat-label>Nom</mat-label>
          <input  matInput    [formControl]="nomctrl"
          [(ngModel)]="nom" name="nom" />
          <mat-icon matSuffix>person</mat-icon>

        </mat-form-field>
      </div>
      <div fxFlex="35" class="form-control" fxLayout="column">
        <mat-form-field appearance="legacy">
          <mat-label>Prénom</mat-label>
          <input matInput [formControl]="prenomctrl" [(ngModel)]="prenom" name="prenom" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div
      style="margin-right: 20px; margin-left: 20px"
      class="form-control"
      fxLayout="column"
    >
      <mat-form-field appearance="legacy">
        <mat-label>Date de naissance</mat-label>
        <input
        [formControl]="naissancectrl" 
          matInput
          [(ngModel)]="naissance"
          name="naissance"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div
      style="margin-right: 20px; margin-left: 20px"
      class="form-control"
      fxLayout="column"
    >
      <mat-form-field appearance="legacy">
        <mat-label>Situation Familiale</mat-label>
        <mat-select         [formControl]="situationfamilialectrl" 
        [(ngModel)]="situationFamiliale" name="situationFamiliale">
          <mat-option value="Maries">Mariés</mat-option>
          <mat-option value="Divorce">Divorcé(e)</mat-option>
          <mat-option value="Veuf">Veuf(ve)</mat-option>
          <mat-option value="Celibataire">Célibataire</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      style="margin-right: 20px; margin-left: 20px"
      class="form-control"
      fxLayout="column"
    >
      <mat-form-field>
        <input
        [formControl]="nbrenfantctrl" 
          matInput
          type="number"
          [(ngModel)]="nmbrenfants"
          name="nmbrenfants"
          placeholder="Nombre d'Enfants"
        />
        <mat-icon matSuffix>groups</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <p
    *ngIf="showContact == false"
    style="font-size: 18px; font-weight: 400; margin-left: 50px; color: #034ea2"
    (click)="toggle('contact')"
  >
    + Contact
  </p>
  <p
    *ngIf="showContact == true"
    style="font-size: 18px; font-weight: 400; margin-left: 50px; color: #034ea2"
    (click)="toggle('contact')"
  >
    - Contact
  </p>

  <div *ngIf="showContact" fxLayout="column">
    <mat-form-field
      style="margin-right: 20px; margin-left: 20px"
      class="example-full-width"
    >
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [(ngModel)]="email"
        name="email"
        [formControl]="emailFormControl"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div
      style="
        margin-bottom: 20px;
        margin-right: 20px;
        border-color: #928e8e;

        margin-left: 20px;
        border-style: solid;
        border-width: 0px;
        border-bottom-width: 1.5px;
      "
      class="form-control"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <ngx-intl-tel-input
        [preferredCountries]="[CountryISO.Tunisia, CountryISO.France]"
        [enableAutoCountrySelect]="false"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [(ngModel)]="phone1"
        name="phone1"
        [customPlaceholder]="'Téléphone'"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.France"
        [phoneValidation]="true"
        name="phone"
      ></ngx-intl-tel-input>
      <mat-icon matSuffix>phone</mat-icon>
    </div>
    <div
      style="
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border-style: solid;
        border-width: 0px;
        border-color: #928e8e;

        border-bottom-width: 1px;
      "
      class="form-control"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <ngx-intl-tel-input
        [preferredCountries]="[CountryISO.Tunisia, CountryISO.France]"
        [enableAutoCountrySelect]="false"
        [enablePlaceholder]="true"
        [(ngModel)]="phone2"
        name="phone2"
        [searchCountryFlag]="true"
        [customPlaceholder]="'2éme Téléphone'"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.France"
        [phoneValidation]="true"
        name="phone2"
      ></ngx-intl-tel-input>
      <mat-icon matSuffix>phone</mat-icon>
    </div>
    <div
      style="
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border-style: solid;
        border-width: 0px;
        border-color: #928e8e;

        border-bottom-width: 1px;
      "
      class="form-control"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <ngx-intl-tel-input
        [preferredCountries]="[CountryISO.Tunisia, CountryISO.France]"
        [enableAutoCountrySelect]="false"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [(ngModel)]="mobile"
        name="mobile"
        [customPlaceholder]="'Mobile'"
        [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.France"
        [phoneValidation]="true"
        name="phone2"
      ></ngx-intl-tel-input>
      <mat-icon matSuffix>phone</mat-icon>
    </div>
  </div>
  <p
    *ngIf="showAdresse == false"
    style="font-size: 18px; font-weight: 400; margin-left: 50px; color: #034ea2"
    (click)="toggle('adresse')"
  >
    + Adresse
  </p>
  <p
    *ngIf="showAdresse == true"
    style="font-size: 18px; font-weight: 400; margin-left: 50px; color: #034ea2"
    (click)="toggle('adresse')"
  >
    - Adresse
  </p>

  <div *ngIf="showAdresse" fxLayout="column">
    <div
      style="margin-right: 20px; margin-left: 20px"
      class="form-control"
      fxLayout="column"
    >
      <mat-form-field appearance="legacy">
        <mat-label>Adresse</mat-label>
        <input matInput [formControl]="adressectrl"
         [(ngModel)]="adresse" name="adresse" />
        <mat-icon style="opacity: 0.6" matSuffix>place</mat-icon>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="flex-start center">
        <div>
          <mat-select-country
            [(ngModel)]="pays"
            name="pays"
            [formControl]="paysctrl"
            [value]="defaultValue"
            style="margin-right: 100"
            appearance="legacy"
            label="Pays"
          >
          </mat-select-country>
        </div>

        <div
          fxFlex="50"
          style="margin-right: 60"
          class="form-control"
          fxLayout="column"
        >
          <mat-form-field>
            <mat-label>Ville</mat-label>
            <input matInput     [formControl]="villectrl" [(ngModel)]="ville" name="ville" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div
      style="margin-right: 20px; margin-left: 20px"
      class="form-control"
      fxLayout="column"
    >
      <div fxLayout="row" fxLayoutAlign="flex-start center">
        <div fxFlex="20" class="horizSpacing" fxLayout="column">
          <mat-form-field>
            <mat-label>Rue</mat-label>
            <input matInput    [formControl]="ruectrl"       [(ngModel)]="rue" name="rue" 
            placeholder="Ex. San Francisco" />
          </mat-form-field>
        </div>
        <div fxFlex="20" class="horizSpacing" fxLayout="column">
          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>N° de Rue</mat-label>
            <input matInput [(ngModel)]="numRue" [formControl]="numruectrl" name="numRue"  type="number" placeholder="Ex. 24" />
          </mat-form-field>
        </div>
        <div fxFlex="20" class="horizSpacing" fxLayout="column">
          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              [(ngModel)]="codePostal" name="codePostal" 
              type="number"
              [formControl]="codepostalctrl"
              maxlength="5"
              placeholder="Ex. 94105"
              value="92500"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div
      style="margin-right: 20px; margin-left: 20px"
      class="form-control"
      fxLayout="column"
    >
      <mat-form-field>
        <input matInput       [formControl]="complementadressectrl"        [(ngModel)]="complementadresse" name="complementadresse" 
        placeholder="Complément d'Adresse" />
      </mat-form-field>
    </div>
  </div>
  <p
    *ngIf="showInfo == false"
    style="font-size: 18px; font-weight: 400; margin-left: 50px; color: #034ea2"
    (click)="toggle('info')"
  >
    + Informations complémentaires
  </p>
  <p
    *ngIf="showInfo == true"
    style="font-size: 18px; font-weight: 400; margin-left: 50px; color: #034ea2"
    (click)="toggle('info')"
  >
    - Informations complémentaires
  </p>

  <div *ngIf="showInfo" fxLayout="column">
    <div
      style="margin-right: 20px; margin-left: 20px"
      class="form-control"
      fxLayout="column"
    >
      <mat-form-field>
        <input matInput         [formControl]="motclesctrl"        [(ngModel)]="motCles" name="motCles" 
        placeholder="Mot-Clés" />
      </mat-form-field>
    </div>

    <div
      style="margin-right: 20px; margin-left: 20px"
      class="form-control"
      fxLayout="column"
    >
      <mat-form-field>
        <mat-label>Commentaire sur le prospect</mat-label>

        <textarea matInput [formControl]="commentairectrl"   [(ngModel)]="commentaire" name="commentaire" ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="formerror==true" class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong> ERREUR! </strong>Veuillez vérifier tous les champs.
  </div>
  <div  fxLayoutAlign="center center" style="margin-top: 50px;margin-bottom: 20px;">
    <button class="btncenter" mat-flat-button color="primary">Primary</button>

</div>
</form>
