<form *ngIf="showAddTask" class="add-task" (ngSubmit)="addtask()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task"/>
    </div>
    <div class="form-control">
        <label for="date">Day & time</label>
        <input type="text" name="date" [(ngModel)]="date" id="date" placeholder="Add Day & time"/>
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
    </div>
    <input type="submit" value="Add Task" class="btn btn-block">
</form>
